body {
  margin: 0px;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
  position: relative;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.wrapper {
    display: grid;
    width: 100%;
    /*grid-gap: 10px;*/
    grid-template-columns: auto auto auto;
    grid-template-rows: 300px 300px 300px;
    grid-template-areas:
    "header  header  header"
    "nav nav nav"
    "sidebar content content"
    "footer  footer  footer";
    background-color: #fff;
    color: #444;
  }


.box {
  background-color: pink;
  color: #fff;
  /*border-radius: 5px;*/
  padding: 50px;
  font-size: 150%;
}

.header,
.footer {
  background-color: lightblue;
}

.topleft {
  position: absolute;
  top: 0;
  left: 0;
}

.topright {
  position: absolute;
  top: 0;
  right: 0;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 0;
}

.bottomright {
  position: absolute;
  bottom: 0;
  right: 0;
}

.nav {
grid-area: nav;

}

.flexbox {
  display: flex;
}
